:root {
  --color-1: #222831;
  --color-2: #393E46;
  --color-3: #00ADB5;
  --color-4: #EEE;
}

%focus{
  &:focus{
    outline: none;
  }
  &:focus-visible{
    outline: 2px solid var(--color-3, #00adb5);
    outline-offset: 2px;
  }
}

$transition: all 0.3 ease;

@layer elements {

  html {
    scroll-behavior: smooth;
  }

  .page {
    background: var(--color-1, #222831);
    margin: 0 auto;
    &::-webkit-scrollbar-thumb {
      background-color: var( --color-4, #EEE);
    }
    &::-webkit-scrollbar-track {
      background: var(--color-1, #222831);
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
  }

  .main {
    position: relative; //TODO:prover nuzhno li ono
  }

  .menu {
    color: var(--color-4, #EEE);
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;

    .menu__list {
      display: flex;
      align-items: flex-start;
      gap: 48px;
    }

    .menu__image {
      width: 24px;
      height: 24px;
    }

    .menu__link {
      display: flex;
      gap: 10px;
      transition: $transition;
      &:hover{
        color: var(--color-3, #00ADB5);
      }
      @extend %focus;
    }
  }

  .title {
    color: var(--color-4, #EEE);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    z-index: 10;
  }

  .button {
    display: flex;
    padding: 10px 32px;
    align-items: center;
    gap: 15px;
    border-radius: 24px;
    background: rgba(57, 62, 70, 0.75);
    color: var(--color-4, #EEE);
    text-shadow: rgba(0, 0, 0, 0.5) 0 4px 4px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: $transition;
    &:active{
      color: var(--color-3, #00ADB5);
    }
    @extend %focus;
    .button__image {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }
  }

  .social {
    .social__list {
      display: flex;
      gap: 18px;
    }

    .social__list-item {
      border-radius: 50%;
      background: var(--color-2, #393E46);
    }

    .social__link {
      display: block;
      border-radius: 50%;
      padding: 15px 14px 9px;
      @extend %focus;
    }

    .social__image {
      width: 24px;
      height: 24px;
    }
  }

  .feedback {
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 0 24px;
    max-width: 600px;

    .feedback__label {
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: var(--color-4, #EEE);
      font-weight: 700;
      font-size: 18px;
      font-style: normal;
      line-height: normal;
    }

    .feedback__input {
      min-width: 288px;
      border: none;
      border-radius: 16px;
      padding: 16px 24px;
      color: var(--color-4, #EEE);
      font-weight: 700;
      font-size: 18px;
      font-style: normal;
      line-height: normal;
      background: rgba(57, 62, 70, 0.50);
      letter-spacing: 2px;
      @extend %focus;

      &::placeholder {
        color: rgba(238, 238, 238, 0.50);
        font-weight: 700;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
      }
    }

    .feedback__label:has(.feedback__textarea) {
      width: 100%;
    }

    .feedback__textarea {
      resize: none;
    }

    .feedback__button{
      margin-bottom: -10px;
    }
  }

  .card {
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 52px 0;
    background: rgba(57, 62, 70, 0.50);
    backdrop-filter: blur(2px);
    min-width: 368px;
    min-height: 280px;

    .card__image{
      width: fit-content;
      min-height: 100%;
    }
  }

  .section {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

  }

}

@layer section{

  .header {
    margin: 0 auto;
    border-bottom: 1px solid rgba(238, 238, 238, 0.10);
    .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1440px;
      margin: 0 auto;
      padding: 48px 96px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 35.5%;
        width: 1px;
        height: 100%;
        background: rgba(238, 238, 238, 0.10);
      }
    }

    .header__logo {
      color: var(--color-4, #EEE);
      font-family: Oswald, Arial, sans-serif;
      font-weight: 700;
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      @extend %focus;
    }
  }

  .home {
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 35.5%;
      width: 1px;
      height: 100%;
      background: rgba(238, 238, 238, 0.10);
    }
    .home__container{
      margin: 0 80px 0 180px;
      padding: 202px 0 73px;
      display: flex;
      justify-content: space-between;
    }
    .home__decoration{
      background: url("../images/home_image.svg") center -30px;
      background-size: contain;
      width: 547px;
      height: 655px;
    }

    .home__title {
      position: relative;
      margin-bottom: 48px;
      font-size: 96px;
      line-height: 96px;
      width: max-content;
      &:before{
        content: '';
        position: absolute;
        top: 51px;
        left: -103px;
        width: 80px;
        height: 230px;
        background: url("../images/vector_187.svg") center no-repeat;
        background-size: cover;
      }
    }

    .home__buttons {
      display: flex;
      gap: 24px;
    }

    .home__next-section {
      position: fixed;
      //Сначала выставляем элемент по контейнеру 1440px.
      // Затем сдвигаем на 35.5% и на половину собственного размера
      left: calc((100vw - 1440px)/2 + 1440px * 0.355 - 96px / 2);
      bottom: 64px;
      width: 96px;
      height: 96px;
      color: var(--color-4, #EEE);
      font-size: 56px;
      text-align: center;
      background-color: rgba(57, 62, 70, 0.75);
      backdrop-filter: blur(4px);
      z-index: 10;
    }
  }

  .about {
    margin-bottom: 132px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 35.5%;
      width: 1px;
      height: 100%;
      background: rgba(238, 238, 238, 0.10);
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -132px;
      left: 35.5%;
      width: 1px;
      height: 132px;
      background: rgba(238, 238, 238, 0.10);
    }
    .about__container{
      margin: 0 110px 0 96px;
      padding: 230px 0 69px;
      display: flex;
      justify-content: space-between;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: calc((100vw - 1440px) / -2 - 96px);
        height: 1px;
        width: 100vw;
        background: rgba(238, 238, 238, 0.10);
      }
    }
    .about__description{
      max-width: 388px;
      color: rgba(238, 238, 238, 0.75);
      font-weight: 400;
      font-size: 18px;
      font-style: normal;
      line-height: normal;
      &:after{
        content: '';
        position: absolute;
        bottom: 120px;
        left: 270px;
        min-width: 142px;
        min-height: 200px;
        background: url("../images/feedback_image.svg") center no-repeat;
        background-size: contain;
      }
    }
    .about__title{
      position: relative;
      margin-bottom: 5px;
      &:before{
        content: '';
        position: absolute;
        top: -130px;
        left: 0;
        width: 62px;
        height: 46px;
        background: url("../images/vector_141.svg") center no-repeat;
        background-size: cover;
      }
      &:after{
        content: '';
        position: absolute;
        top: -15px;
        right: -30px;
        width: 57px;
        height: 88px;
        background: url("../images/lightbulb.svg") center no-repeat;
        background-size: cover;
      }
    }
    .about__decoration{
      background-size: cover;
      background: url("../images/about_image.svg") no-repeat center;
      width: 665px;
      height: 593px;
      position: relative;
      top: -30px;
    }
  }

  .project {
    position: relative;

    .project__container{
      margin: 0 115px;
      padding: 238px 0 270px 0;
      display: flex;
      flex-direction: column;
    }

    .project__overlay{
      background: url("../images/doodle_items.svg") repeat left top;
      filter: brightness(0.5);
      position: absolute;
      left: calc((100vw - 1440px) / -2);
      width: 100vw;
      height: 100%;
    }

    .project__title {
      margin-bottom: 25px;
    }

    .project__buttons {
      display: flex;
      gap: 16px;
      margin-bottom: 48px;
    }

    .project__buttons .button:has(input[type="radio"]:checked){
      transition: $transition;
      background-color: var(--color-3, #00ADB5);
    }

    .project__buttons .button:has(> input[type="radio"]:focus-visible){
      outline: 2px solid var(--color-3, #00ADB5);
      outline-offset: 2px;
    }

    .project__content {
      display: flex;
      flex-wrap: wrap;
      gap: 48px;
    }
  }

  .contact {
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 35.5%;
      width: 1px;
      height: 100%;
      background: rgba(238, 238, 238, 0.10);
    }
    .contact__container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 258px 0;
      margin: 0 96px;
    }

    .contact__title {
      width: max-content;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: 212px;
        left: 25px;
        width: 163px;
        height: 170px;
        background: url("../images/feedback_vector.svg") center no-repeat;
        background-size: contain;
      }
    }

    .contact__decoration{
      background-size: cover;
      background: url("../images/feedback_image.svg") no-repeat center;
      width: 270px;
      height: 365px;
      position: relative;
      margin-left: auto;
      left: -20px;
      top: -10px;
    }

    .contact__feedback{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: -186px;
        left: 76px;
        width: 150px;
        height: 103px;
        background: url("../images/contact_keyboard.svg") center no-repeat;
        background-size: cover;
      }
      &:after{
        content: '';
        position: absolute;
        right: 72px;
        bottom: -68px;
        width: 70px;
        height: 60px;
        background: url("../images/contact_mail.svg") center no-repeat;
        background-size: cover;
      }
    }
  }

  .footer {
    margin: 0 auto;
    border-top: 1px solid rgba(238, 238, 238, 0.10);

    .footer__container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 45px;
      max-width: 1440px;
      margin: 0 auto;
      padding: 92px 0 167px;

      &:after {
        content: 'Terms of Service - Privacy Policy';
        position: absolute;
        right: 96px;
        bottom: 48px;
        color: rgba(238, 238, 238, 0.75);
        font-weight: 400;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
      }
    }
    .footer__menu .menu__list{
      gap: 70px;
    }
  }

}

@layer modification {

  .button_active {
    background: var(--color-3, #00ADB5);
  }

  .accent-color {
    color: var(--color-3, #00ADB5);
  }

  .more-link {
    color: #EEE;
    font-weight: 700;
  }

  .visually-hidden {
    position: absolute; /* элемент вырывают из потока */
    width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
    height: 1px;
    margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
    padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
    border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
    clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
    overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
  }
}









